*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.89em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

p {
  font-family: "Roboto", sans-serif;
  color: #7D7D7D;
  font-size: 1.1em;
}

.loader {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: loader 2s linear;
  visibility: hidden;
}

.loader__bordure {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-top: 15px solid #9356DC;
  border-bottom: 15px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: loader-bordure 2s linear;
  z-index: 10;
  visibility: hidden;
}

.loader__center {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #99E2D0;
}

@keyframes loader {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-bordure {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
/* header */
.header {
  background: white;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation {
  width: 100%;
  height: 52px;
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2) inset;
}
.reservation__position {
  width: 1.87em;
  height: 20px;
  font-size: 17px;
  color: #353535;
}
.reservation__belleville {
  color: #353535;
  font-weight: bold;
}

.explore {
  width: 100%;
  height: 18em;
  background: #F6F6F6;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore .explore__reservez {
  color: black;
  line-height: 30px;
}
@media screen and (min-width: 660px) {
  .explore .explore__reservez {
    display: none;
  }
}
.explore .explore__reservez .explore__vsconvient {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 550px) {
  .explore .explore__reservez {
    font-size: 30px;
  }
}
.explore .explore__reservez__titre__responsive {
  display: none;
}
@media screen and (min-width: 660px) {
  .explore .explore__reservez__titre__responsive {
    display: flex;
    justify-content: center;
    font-size: 32px;
  }
}
.explore p {
  color: #7D7D7D;
  font-size: 1.1em;
  margin-top: 10px;
}
.explore p .explore__selectionne {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 550px) {
  .explore p {
    font-size: 22px;
  }
}
.explore .explore__btn {
  margin-top: 32px;
  font-family: "roboto", sans-serif;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25em 1em;
  color: white;
  padding: 17px 25px;
  border-radius: 35px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  text-decoration: none;
}
@media screen and (min-width: 316px) {
  .explore .explore__btn:hover {
    opacity: 0.85;
    box-shadow: 2px 2px 2px 2px darkgrey;
  }
}

/** fonctionnememnt **/
.fonctionnement {
  width: 100%;
  height: auto;
}
.fonctionnement .fonctionnement__titre {
  padding-top: 56px;
  padding-left: 18px;
}
@media screen and (min-width: 550px) {
  .fonctionnement .fonctionnement__titre {
    display: flex;
    justify-content: center;
    font-size: 32px;
  }
}
@media screen and (min-width: 550px) {
  .fonctionnement .fonctionnement__cards {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }
}
.fonctionnement .fonctionnement__choice {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
@media screen and (min-width: 550px) {
  .fonctionnement .fonctionnement__choice {
    font-size: 20px;
  }
}
.fonctionnement .fonctionnement__choice .fonctionnement__restaurant {
  width: 87vw;
  height: 13vh;
  background: #F6F6F6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 6px 7px 8px #e9e7e7;
  position: relative;
}
.fonctionnement .fonctionnement__choice .fonctionnement__restaurant:hover {
  background: #F5EDFF;
}
.fonctionnement .fonctionnement__choice .fonctionnement__restaurant:hover .fonctionnement__mobile__icon {
  color: #9356DC;
}
.fonctionnement .fonctionnement__choice .fonctionnement__restaurant .fonctionnement__numero {
  background: #9356DC;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.34rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 27px;
  left: -11px;
}
.fonctionnement .fonctionnement__choice .fonctionnement__restaurant .fonctionnement__mobile__icon {
  font-size: 1.24em;
  color: #7E7E7E;
  padding-left: 14px;
}
.fonctionnement .fonctionnement__choice .fonctionnement__restaurant .fonctionnement__text {
  color: black;
  padding-right: 18px;
}
@media screen and (min-width: 550px) {
  .fonctionnement .fonctionnement__choice {
    margin: 20px 20px;
    width: 402px;
    display: flex;
    justify-content: center;
  }
}

/** restaurant **/
.restaurants {
  width: 100%;
  height: auto;
  background: #F6F6F6;
  margin-top: 73px;
  padding-bottom: 60px;
}
.restaurants .restaurants__title {
  padding-left: 18px;
  padding-top: 61px;
  padding-bottom: 31px;
}
@media screen and (min-width: 550px) {
  .restaurants .restaurants__title {
    display: flex;
    justify-content: center;
    font-size: 32px;
  }
}
.restaurants .restaurants__allcards {
  padding-top: 3px;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.restaurants .restaurants__allcards .restaurants__card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  height: auto;
  box-shadow: 3px 3px 8px 4px #e9e7e7;
  margin-bottom: 3vw;
}
.restaurants .restaurants__allcards .restaurants__card a {
  text-decoration: none;
  color: black;
}
.restaurants .restaurants__allcards .restaurants__card a .restaurants__img__cardnew {
  position: relative;
}
.restaurants .restaurants__allcards .restaurants__card a .restaurants__image {
  width: 100%;
  height: 176px;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.restaurants .restaurants__allcards .restaurants__card a .restaurants__cardnew {
  width: 77px;
  height: 29px;
  color: #278870;
  background: #99E2D0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 9px;
  top: 15px;
}
.restaurants .restaurants__allcards .restaurants__card .restaurants__description {
  padding: 11px 18px;
  line-height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants .restaurants__allcards .restaurants__card .restaurants__description .restaurants__hearticon {
  position: absolute;
  top: 18px;
  right: 17px;
  font-size: 1.37em;
}
.restaurants .restaurants__allcards .restaurants__card .restaurants__description .restaurants__hearticon :hover {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: opacity_heart 0.8s both;
}
@keyframes opacity_heart {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 550px) {
  .restaurants .restaurants__allcards .restaurants__card {
    width: 490PX;
    margin: 20px;
  }
}
@media screen and (min-width: 550px) {
  .restaurants .restaurants__allcards {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }
}

.footer {
  background: #353535;
  height: 215px;
}
.footer .footer__container {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__logo {
  color: white;
  font-size: 1.25rem;
  font-family: shrikhand, "cursive";
  margin: 0 0 1rem;
}
.footer .footer__container .footer__list {
  list-style-type: none;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}
.footer .footer__container .footer__list li {
  margin: 0.3rem 0;
}
.footer .footer__container .footer__list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer .footer__container .footer__list li a .footer__icon {
  color: white;
  margin-right: 0.75rem;
}
.footer .footer__container .footer__list li a p {
  color: white;
  font-size: 1.1em;
}

/* header */
.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header a {
  color: black;
}
.header a .header__arrow {
  position: absolute;
  left: 22px;
  font-size: 20px;
  top: 20px;
}

.img__restaurant {
  width: 100%;
  height: 245px;
  background-size: cover;
  background-position-x: center;
  object-fit: cover;
}

/* container header */
.menu {
  background: #F6F6F6;
  width: 100%;
  height: 1249px;
  position: relative;
  border-radius: 47px 47px 0 0;
  margin-top: -42px;
}
.menu .menu__header {
  font-family: shrikhand, "cursive";
  font-size: 1.2rem;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__header h2 {
  position: absolute;
  left: 20px;
  font-family: shrikhand, "cursive";
}
.menu .menu__header .menu__icon {
  position: absolute;
  right: 1.93em;
}
.menu .menu__header .menu__icon .far {
  font-size: 1.53em;
}

/* menu */
.menus {
  padding-top: 2.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menus .menus__all {
  padding: 0 10px;
}
.menus .menus__all .menus__all__title {
  margin-left: 4px;
  margin-bottom: 23px;
  border-bottom: 3px solid #99E2D0;
  color: #8B8B8B;
  width: 2.5rem;
  position: relative;
  padding-top: 16px;
}
.menus .menus__all .menus__all__card {
  background: #fff;
  border-radius: 15px;
  margin: 20px 0;
  display: flex;
  box-shadow: 5px 5px 5px #e9e7e7;
  justify-content: space-between;
}
.menus .menus__all .menus__all__card .menus__all__card__description {
  width: 100%;
  padding: 12px;
}
.menus .menus__all .menus__all__card .menus__all__card__description p {
  font-size: 1rem;
  color: #7D7D7D;
}
.menus .menus__all .menus__all__card .menus__all__card__prix {
  font-weight: bold;
  padding-top: 1.12em;
  padding-right: 12px;
}

/* commande btn */
.commande__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.commande__btn p {
  margin-top: 32px;
  font-family: "roboto", sans-serif;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  padding: 17px 51px;
  border-radius: 35px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}

/* footer */
.footer {
  background: #353535;
  height: 215px;
}
.footer .footer__container {
  padding: 1.4em;
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__logo {
  color: white;
  font-size: 1.25rem;
  font-family: shrikhand, "cursive";
  margin: 0 0 1rem;
}
.footer .footer__container .footer__list {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  list-style-type: none;
}
.footer .footer__container .footer__list .footer__icon {
  color: white;
  margin-right: 0.75rem;
}

/* header */
.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header a {
  color: black;
}
.header a .header__arrow {
  position: absolute;
  left: 22px;
  font-size: 20px;
  top: 20px;
}

.img__restaurant {
  width: 100%;
  height: 245px;
  background-size: cover;
  background-position-x: center;
  object-fit: cover;
}

/* container header */
.menu {
  background: #F6F6F6;
  width: 100%;
  height: 1249px;
  position: relative;
  border-radius: 47px 47px 0 0;
  margin-top: -42px;
}
.menu .menu__header {
  font-family: shrikhand, "cursive";
  font-size: 1.2rem;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__header h2 {
  position: absolute;
  left: 20px;
  font-family: shrikhand, "cursive";
}
.menu .menu__header .menu__icon {
  position: absolute;
  right: 1.93em;
}
.menu .menu__header .menu__icon .far {
  font-size: 1.53em;
}

/* menu */
.menus {
  padding-top: 2.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menus .menus__all {
  padding: 0 10px;
}
.menus .menus__all .menus__all__title {
  margin-left: 4px;
  margin-bottom: 23px;
  border-bottom: 3px solid #99E2D0;
  color: #8B8B8B;
  width: 2.5rem;
  position: relative;
  padding-top: 16px;
}
.menus .menus__all .menus__all__card {
  background: #fff;
  border-radius: 15px;
  margin: 20px 0;
  display: flex;
  box-shadow: 5px 5px 5px #e9e7e7;
  justify-content: space-between;
}
.menus .menus__all .menus__all__card .menus__all__card__description {
  width: 100%;
  padding: 12px;
}
.menus .menus__all .menus__all__card .menus__all__card__description p {
  font-size: 1rem;
  color: #7D7D7D;
}
.menus .menus__all .menus__all__card .menus__all__card__prix {
  font-weight: bold;
  padding-top: 1.12em;
  padding-right: 12px;
}

/* commande btn */
.commande__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.commande__btn p {
  margin-top: 32px;
  font-family: "roboto", sans-serif;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  padding: 17px 51px;
  border-radius: 35px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}

/* footer */
.footer {
  background: #353535;
  height: 215px;
}
.footer .footer__container {
  padding: 1.4em;
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__logo {
  color: white;
  font-size: 1.25rem;
  font-family: shrikhand, "cursive";
  margin: 0 0 1rem;
}
.footer .footer__container .footer__list {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  list-style-type: none;
}
.footer .footer__container .footer__list .footer__icon {
  color: white;
  margin-right: 0.75rem;
}

/* header */
.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header a {
  color: black;
}
.header a .header__arrow {
  position: absolute;
  left: 22px;
  font-size: 20px;
  top: 20px;
}

.img__restaurant {
  width: 100%;
  height: 245px;
  background-size: cover;
  background-position-x: center;
  object-fit: cover;
}

/* container header */
.menu {
  background: #F6F6F6;
  width: 100%;
  height: 1249px;
  position: relative;
  border-radius: 47px 47px 0 0;
  margin-top: -42px;
}
.menu .menu__header {
  font-family: shrikhand, "cursive";
  font-size: 1.2rem;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__header h2 {
  position: absolute;
  left: 20px;
  font-family: shrikhand, "cursive";
}
.menu .menu__header .menu__icon {
  position: absolute;
  right: 1.93em;
}
.menu .menu__header .menu__icon .far {
  font-size: 1.53em;
}

/* menu */
.menus {
  padding-top: 2.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menus .menus__all {
  padding: 0 10px;
}
.menus .menus__all .menus__all__title {
  margin-left: 4px;
  margin-bottom: 23px;
  border-bottom: 3px solid #99E2D0;
  color: #8B8B8B;
  width: 2.5rem;
  position: relative;
  padding-top: 16px;
}
.menus .menus__all .menus__all__card {
  background: #fff;
  border-radius: 15px;
  margin: 20px 0;
  display: flex;
  box-shadow: 5px 5px 5px #e9e7e7;
  justify-content: space-between;
}
.menus .menus__all .menus__all__card .menus__all__card__description {
  width: 100%;
  padding: 12px;
}
.menus .menus__all .menus__all__card .menus__all__card__description p {
  font-size: 1rem;
  color: #7D7D7D;
}
.menus .menus__all .menus__all__card .menus__all__card__prix {
  font-weight: bold;
  padding-top: 1.12em;
  padding-right: 12px;
}

/* commande btn */
.commande__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.commande__btn p {
  margin-top: 32px;
  font-family: "roboto", sans-serif;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  padding: 17px 51px;
  border-radius: 35px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}

/* footer */
.footer {
  background: #353535;
  height: 215px;
}
.footer .footer__container {
  padding: 1.4em;
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__logo {
  color: white;
  font-size: 1.25rem;
  font-family: shrikhand, "cursive";
  margin: 0 0 1rem;
}
.footer .footer__container .footer__list {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  list-style-type: none;
}
.footer .footer__container .footer__list .footer__icon {
  color: white;
  margin-right: 0.75rem;
}

/* header */
.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: black;
}
.header a .header__arrow {
  position: absolute;
  left: 22px;
  font-size: 20px;
  top: 20px;
}

.img__restaurant {
  width: 100%;
  height: 245px;
  background-size: cover;
  background-position-x: center;
}

/* container header */
.menu {
  background: #F6F6F6;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 47px 47px 0 0;
  margin-top: -42px;
  padding-bottom: 80px;
}
.menu .menu__header {
  font-family: shrikhand, "cursive";
  font-size: 1.2rem;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__header h2 {
  position: absolute;
  left: 20px;
  font-family: shrikhand, "cursive";
}
.menu .menu__header .menu__icon {
  position: absolute;
  right: 1.93em;
}
.menu .menu__header .menu__icon i {
  font-size: 1.53em;
}
.menu .menu__header .menu__icon i:hover {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: opacity_heart 0.8s both;
}
@keyframes opacity_heart {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* menu */
.menus {
  padding-top: 2.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menus .menus__all {
  padding: 0 10px;
}
@media screen and (min-width: 860px) {
  .menus .menus__all {
    display: flex;
    justify-content: space-around;
  }
}
.menus .menus__all .menus__all__title {
  margin-left: 4px;
  margin-bottom: 23px;
  border-bottom: 3px solid #99E2D0;
  color: #8B8B8B;
  width: 2.5rem;
  position: relative;
  padding-top: 16px;
}
.menus .menus__all .menus__all__card {
  cursor: pointer;
  background: #fff;
  border-radius: 15px;
  margin: 20px 0;
  display: flex;
  box-shadow: 5px 5px 5px #e9e7e7;
  justify-content: space-between;
  overflow: hidden;
}
.menus .menus__all .menus__all__card:hover .menus__all__card__check {
  width: 0;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  animation: width 0.6s both;
}
.menus .menus__all .menus__all__card:hover .menus__all__card__check i {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  border-radius: 50%;
  color: white;
  animation: check 0.6s both;
}
@media screen and (min-width: 860px) {
  .menus .menus__all .menus__all__card {
    width: 42vw;
  }
}
.menus .menus__all .menus__all__card .menus__all__card__description {
  width: 100%;
  padding: 17px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus .menus__all .menus__all__card .menus__all__card__description p {
  font-size: 1rem;
  color: #7D7D7D;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus .menus__all .menus__all__card .menus__all__card__prix {
  font-weight: bold;
  padding-top: 1.9em;
  color: black;
  text-decoration: none;
  padding-right: 12px;
}
.menus .menus__all .menus__all__card .menus__all__card__check {
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus .menus__all .menus__all__card .menus__all__card__check i {
  overflow: hidden;
  font-size: 26px;
}
@keyframes width {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 65px;
    opacity: 1;
  }
}
@keyframes check {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* commande btn */
.commande__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.commande__btn p {
  margin-top: 32px;
  font-family: "roboto", sans-serif;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  padding: 17px 51px;
  border-radius: 35px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}
.commande__btn p:hover {
  opacity: 0.85;
  box-shadow: 2px 2px 2px 2px darkgrey;
}

.appearence {
  animation: appearence 1s both;
}

@keyframes appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#card1 {
  animation-delay: 0.1s;
}

#card2 {
  animation-delay: 0.2s;
}

#card3 {
  animation-delay: 0.3s;
}

#card4 {
  animation-delay: 0.4s;
}

#card5 {
  animation-delay: 0.5s;
}

#card6 {
  animation-delay: 0.6s;
}

#card7 {
  animation-delay: 0.7s;
}

#card8 {
  animation-delay: 0.8s;
}

#card9 {
  animation-delay: 0.9s;
}

#card10 {
  animation-delay: 1s;
}

/* footer */
.footer {
  background: #353535;
  height: 215px;
}
.footer .footer__container {
  padding: 1.4em;
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__logo {
  color: white;
  font-size: 1.25rem;
  font-family: shrikhand, "cursive";
  margin: 0 0 1rem;
}
.footer .footer__container .footer__list {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  list-style-type: none;
}
.footer .footer__container .footer__list .footer__icon {
  color: white;
  margin-right: 0.75rem;
}

/*# sourceMappingURL=style.css.map */
