$bgparis: #EAEAEA;
$positionColor: #353535;
$backgroundGrey: #F6F6F6;
$paragraphColor: #7D7D7D;
$numbers: #9356DC;
$pink: #FF79DA;
$chooseRestaurant: #7E7E7E;
$store: #9356DC;
$footerbg: #353535;
$fontTitle: shrikhand, "cursive";
$textAdParagraph: 'roboto', sans-serif;
$sousTitreBorder: #99E2D0;

// animations 

