.loader {
  animation: loader 0.1s linear;
  animation-delay: 1.10s;
  animation-fill-mode: both;
  align-items: center;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10000;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;

  .loader__itemcontainer {
    display: flex;
    justify-content: space-between;
    width: 200px;

    .loader__item {
      animation-iteration-count: 1;
      animation: jump 1s;
      width: 40px;
      height: 40px;
      border-radius: 40px;
     
    }
    .loader__item--1 {
      background-color: blue;
    }
    .loader__item--2 {
      background-color: greenyellow;
    }
    .loader__item--3 {
      background-color: hotpink;
    }
  
  }
 @keyframes loader {
   0% {
   
    transform: translateY(0);
   }
   25% {
     
     transform: translateY(15px); /* 0.5rem */
   }
   75% {
     
     transform: translateY(-0.5rem); /* -0.5rem*/
   }
   100% {
     transform: translateY(0rem);  /*  0rem */
     opacity: 0;
     z-index: -10;
   }
 }
}
/* header */

.header {
  background: white;
  width: 100%;
  height: 8vh;
  @include flexCenter();
}

.reservation {
  width: 100%;
  height: 52px;
  background: $bgparis;   /* #EAEAEA */
  @include flexCenter();
  padding-right: 50px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2) inset;
  &__position {
    width: 1.87em;
    height: 20px;
    font-size: 17px;
    color: $positionColor;
  }
  &__belleville {
    color: $positionColor;
    font-weight: bold;
  }
}

.explore {
  width: 100%;
  height: 18em;
  background: $backgroundGrey;
  flex-direction: column;
  @include flexCenter();
  
  .explore__reservez {
    color: black;
    line-height: 30px;
    @media screen and (min-width: 660px) {
      display: none;
    }

   
    .explore__vsconvient {
      @include simpleFlex();
         }
         @media screen and (min-width: 550px) {
           font-size: 30px;
         }
     }
     .explore__reservez__titre__responsive {
      display: none;
      @media screen and (min-width: 660px) {
        @include simpleFlex();
        font-size: 32px;
      }
    }
    
      
     p {
        color: $paragraphColor;
        font-size: 1.1em;
        margin-top: 10px;
       
        
        .explore__selectionne {
        @include simpleFlex();
          }
          @media screen and (min-width: 550px) {
            font-size: 22px;
          }
      }
      // .explore__reservez__p__responsive {
      //   display: none;
      // }
      // @media screen and (min-width: 660px) {
      //   display: flex;
      //   justify-content: center;
     
      // }

        .explore__btn {
          @include btnHome();
          // margin-top: 32px;
          // font-family: 'roboto', sans-serif;
          // cursor: pointer;
          // font-size: 1rem;
          // padding: .25em 1em;
          // color: white;
          // padding: 17px 25px;
          // border-radius: 35px;
          // background: linear-gradient(to top left, #9356DC, #FF79DA);
          // text-decoration: none;
          @media screen and (min-width: 550px) {
            font-size: 20px;
          }
            }
        }

/** fonctionnememnt **/

.fonctionnement {
  width: 100%;
  height: auto;

  .fonctionnement__titre {
    padding-top: 56px;
    padding-left: 18px;

    @media screen and (min-width: 550px) {
     @include simpleFlex();
      font-size: 32px;
    }
  }

  .fonctionnement__cards { //plus
    @media screen and (min-width: 550px) {
      @include simpleFlex();
      flex-flow: wrap;
    }
  }

  .fonctionnement__choice {
    text-decoration: none;
    @include simpleFlex();
    padding-top: 32px;
    // max-width: 450px; 
    @media screen and (min-width: 550px) {
      font-size: 20px;
    }

    .fonctionnement__restaurant {
      width: 87vw;
      height: 13vh;
      background: $backgroundGrey;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 20px;
      box-shadow: 6px 7px 8px rgb(233 231 231);
      position: relative;

      .fonctionnement__numero {
        background: $numbers;
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1.34rem;
        border-radius: 50%;
        @include flexCenter();
        color: white;
        position: absolute;
        top: 27px;
        left: -11px; 
      }

        .fonctionnement__mobile__icon {
          font-size: 1.24em;
          color: $chooseRestaurant;
          padding-left: 14px;
        }

          .fonctionnement__text {
          color: black;
          padding-right: 18px;
        }
    }
           .active {
             background: #F5EDFF;
            
             .store {
              color: $store;
              }
            }
            // fonctionnement choice
            @media screen and (min-width: 550px) {
             margin: 20px 20px;
             width: 402px;
             display: flex;
             justify-content: center;
            }
  }

}



/** restaurant **/

.restaurants {
  width: 100%;
  height: auto; /* 1255px*/
  background: $backgroundGrey;
  margin-top: 73px;
  padding-bottom: 60px;

   .restaurants__title {
    padding-left: 18px;
    padding-top: 61px;
    padding-bottom: 31px;

    @media screen and (min-width: 550px) {
     @include simpleFlex();
      font-size: 32px;
    }
   }

   .restaurants__allcards {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

     .restaurants__card {
      display: flex;
      flex-direction: column;
      background: white;
      border-radius: 15px;
      height: auto;  /* 253px */
      box-shadow: 3px 3px 8px 4px rgb(233 231 231);
      margin-bottom: 3vw;
     

      a {
        text-decoration: none;
        color: black;

        .restaurants__img__cardnew {
          position: relative;
        }

         .restaurants__image {
          width: 100%;
          height: 176px;
          position: relative;
          background-size: cover;
          background-position: center;
          border-radius: 1rem 1rem 0 0;
          object-fit: cover;
          }
          
          .restaurants__cardnew {
            width: 77px;
            height: 29px;
            color: #278870;
            background: #99E2D0;
            position: absolute;
            @include flexCenter();
            right: 9px;
            top: 15px;
           }
         }
      
          .restaurants__description {
            padding: 11px 18px;
            line-height: 24px;
            position: relative;
            display: flex;
            // justify-content: center;
            align-items: center;
            justify-content: space-between;

              .restaurants__hearticon {
                position: absolute;
                top: 18px;
                right: 17px;
                font-size: 1.37em;
              }
           }
           // card
           @media screen and (min-width: 550px) {
             width: 490PX;
             margin: 20px;
           }  
          //  @media screen and (min-width: 1038px) {
          //    margin: 10px;
          //  } 
     }
     // all cards
     @media screen and (min-width: 550px) {
     @include simpleFlex();
      flex-flow: wrap;
    }
    
   }
  
  // @media screen and (min-width: 1077px) {
  //   max-height: 735px;
  // }
  
}
// footer 
.footer {
  background: $footerbg;
  height: 215px;
  
  .footer__container {
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    
    .footer__logo {
      color: white;
      font-size: 1.25rem;
      font-family: $fontTitle;
      margin: 0 0 1rem;
    }

  .footer__list {
    list-style-type: none;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;

    li {
      margin: .3rem 0;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        .footer__icon {
          color: white;
          margin-right: 0.75rem;
        }

        p {
          color: white;
          font-size: 1.1em;
        }
      }
    }
    }
  }
}
       

 


