  /* header */

  .header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: black;

      .header__arrow {
        position: absolute;
        left: 22px;
        font-size: 20px;
        top: 20px;
      }
    }
  }  

  .img__restaurant {
    background-image: url('../images/ala-francaise.jpg');
    width: 100%;
    height: 245px;
    background-size: cover;
    background-position-x: center;
  }

  /* container header */

  .menu {
    background: #F6F6F6;
    width: 100%;
    height: auto;  /*1185px */
    position: relative;
    border-radius: 47px 47px 0 0;
    margin-top: -42px;
    padding-bottom: 80px;

    .menu__header {
      font-family: 'Shrikhand', cursive;
      font-size: 1.2rem;
      padding-top: 40px; 
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        position: absolute;
        left: 20px; 
        font-family: 'shrikhand', cursive;
      }

      .menu__icon {
        position: absolute;
        right: 1.93em;

         i {
          font-size: 1.53em;
          &:hover {
             background: linear-gradient(to top left, #9356DC, #FF79DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            animation: opacity_heart 0.8s both;
          }
          @keyframes opacity_heart{
            0%{
                transform: scale(1);
                opacity: 0;
            }
            50%{
                transform: scale(0);
            }
            100%{
                transform: scale(1);
                opacity: 1;
            }
        }
         }
      }
    }
  }

  /* menu */

  .menus {
    padding-top: 2.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .menus__all {
      padding: 0 10px;
      @media screen and (min-width: 860px) {
        display: flex;
        justify-content: space-around;
      }

       .menus__all__title {
        margin-left: 4px;
        margin-bottom: 23px;
        border-bottom: 3px solid #99E2D0;
        color: #8B8B8B;
        width: 2.5rem;
        position: relative;
        padding-top: 16px;
       }

      .menus__all__card {
        cursor: pointer;
        background: #fff;
        border-radius: 15px;
        padding: 12px;
        margin: 20px 0;
        display: flex;
        box-shadow: 5px 5px 5px rgb(233, 231, 231);
        justify-content: space-between;
        //animation: apparition .5s linear;
        animation-timing-function: ease-in-out;
        //animation-fill-mode: forwards;
        //max-width: 100%;
        overflow: hidden;
        // animation: 750ms ease 200ms 1 normal both running apparition;
        &:hover {
          .menus__all__card__check {
            width: 0;
            background-color: #99E2D0;
            border-radius: 0 15px 15px 0;
            animation: width 0.6s both;
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              opacity: 1;
              border-radius: 50%;
              background-color: white;
              color: #99E2D0;
              padding: 5px;
              animation: check 0.6s both;
            }
          } 
      
        }
        
        .menus__all__card:nth-child(1){
          animation: apparition .5s forwards;
        }
        .menus__all__card:nth-child(2){
          animation: apparition .5s forwards; 
        }
        .menus__all__card:nth-child(3){
          animation: apparition 1.5s forwards; 
        }
        .menus__all__card:nth-child(4){
          animation: apparition 2s forwards; 
        }
        // menu all card
        @media screen and (min-width: 860px) {
          width: 42vw;
        }

          .menus__all__card__description {
            width: 100%;

             p {
              font-size: 1rem;
              color: #7D7D7D;
             }
          }

          .menus__all__card__prix {
            font-weight: bold;
            padding-top: 1.12em;
            color: black;
            text-decoration: none;
          }
          .menus__all__card__check {
            width: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        
            i {
              overflow: hidden;
            }
           
          }
        // apparition
        @keyframes apparition {
            from{
                margin-bottom: 30px;
                opacity: 0;
            }
            to{
                margin-bottom: 15px;
                opacity: 1;
            }
        }
     
         // width
          @keyframes width{
            from{
                width: 0;
                opacity: 0;
            }
            to{
                width: 65px;
                opacity: 1;
            }
        }
        //check
        @keyframes check{
            from{
                transform: rotate(180deg);
            }
            to{
                transform: rotate(0);
            }
        }
      } 
    }
  }

   /* commande btn */

   .commande__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  
      p {
      margin-top: 32px;
      font-family: 'roboto', sans-serif;
      cursor: pointer;
      font-size: 1rem;
      color: white;
      padding: 17px 51px;
      border-radius: 35px;
      background: linear-gradient(to top left, #9356DC, #FF79DA);
      &:hover {
        opacity: 0.85;
        box-shadow: 2px 2px 2px 2px darkgrey;
      }
    }
   }

   /* footer */

  .footer {
    background: #353535;
    height: 215px;

    .footer__container {
      padding: 1.4em;
      display: flex;
      flex-direction: column;

      .footer__logo {
        color: white;
        font-size: 1.25rem;
        font-family: shrikhand, "cursive";
        margin: 0 0 1rem;
      }

      .footer__list {
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
        list-style-type: none;

        .footer__icon {
          color: white;
          margin-right: 0.75rem;
        }
      }
    }
  }
  

  