/* bases */

*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  main {
    height: 100vh;
  }

  h3 {
    border-bottom: 3px solid #99E2D0;
    width: 3.5rem;
    color: #8B8B8B;
    font-weight: 200;
  }

  h4 {
    font-size: 1.12rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

  /* header */

  header {
    background: grey; 
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titre{
    font-family: 'Shrikhand', cursive;
    font-size: 1.89em; 
  }

  header .arrow {
    position: absolute;
    left: 22px;
    font-weight: bold;
    font-size: 20px;
  }

  /* menu container */

  #ala-francaise {
    background-image: url('../images/ala-francaise.jpg');
    width: 100%;
    height: 245px;
    background-size: cover;
    background-position-x: center;
  }

  .image {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .menu-container {
    background: #F6F6F6;
    width: 100%;
    height: 453px;
    position: absolute;
    top: 255px;
    border-radius: 47px 47px 0 0;

  }

  .menu-container .title-like {
   font-family: 'Shrikhand', cursive;
   font-size: 1.2rem;
   padding-top: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu-container .title-like .resto-title {
  position: absolute;
  left: 20px;
}

.menu-container .title-like .like-icon {
  position: absolute;
  right: 1.93em;
}

.menu-container .title-like .like-icon .far {
  font-size: 1.53em;
}
  
#plat {
    padding-top: 2.75em;
}

 #plat .list-menu {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 17px;
 }

 #plat .list-menu .card {
   background: grey;
   width: 350px;
   border-radius: 15px;
   padding: 0.62rem;
   background: white;
   box-shadow: 3px 3px 8px 4px rgb(233 231 231);
 }

 #plat a {
   text-decoration: none;
   color: black;
 }

 #plat .repas {
   display: flex;
 }

 #plat .repas p {
   padding-top: 4px;
   font-size: 1.06rem;
   color: #7D7D7D;
 }

 #plat .prix {
   font-weight: bold;
   padding-left: 5.31em;
   padding-top: 1.62em;
 }

 /* #plat a .repas {
   padding: 14px;
   margin-top: 16px;
   background: grey;
   width: 350px;
 } */